<!-- menu : text-->
        <div data-setting="menu::text" class="setting hidden">
            <div class="container">
                <!--Левый блок с вкладками-->
                <div class="left">
                    <ul class="tabs">
                        <li><a data-tab="1" href="#" class="active">Цвет текста</a></li>
                        <li><a data-tab="2" href="#">Цвет выделения</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div data-tab="1" class="tab-content visible">
                          <%= form_for @site, :url => company_panel_site_path(@site), :html => { :target => :minisite } do |f| %>
                            <div class="picker">
                                <div class="plugin">
                                  <%= f.text_field :tmp_menu_text_color, :value => @site.get_menu_text_color(true) %>
                                </div>
                                <div class="result"></div>
                                <div class="clear"></div>
                            </div>
                          <% end %>
                        </div>
                        <div data-tab="2" class="tab-content hidden">
                          <%= form_for @site, :url => company_panel_site_path(@site), :html => { :target => :minisite } do |f| %>
                            <div class="picker">
                                <div class="plugin">
                                  <%= f.text_field :tmp_menu_text_hover_color, :value => @site.get_menu_text_hover_color(true) %>
                                </div>
                                <div class="result"></div>
                                <div class="clear"></div>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
                <!--Правый блок-->
                <div class="right">
                  <div class="title">Шрифт</div>
                  <div class="content">
                  <%= form_for @site, :url => company_panel_site_path(@site), :html => { :target => :minisite } do |f| %>
                    <div class="replace-select">
                        <ul data-setting="menu_text_font_family">
                            <li data-value="Arial" style="font-family:Arial">Arial</li>
                            <li data-value="Verdana" style="font-family:Verdana">Verdana</li>
                            <li data-value="Tahoma" style="font-family:Tahoma">Tahoma</li>
                            <li data-value="Georgia" style="font-family:Georgia">Georgia</li>
                            <li data-value="Impact" style="font-family:Impact">Impact</li>
                        </ul>
                    </div>
                    <%= f.hidden_field :tmp_menu_text_font_family, :value => @site.get_menu_text_font_family(true) %>
                    
                    <span class="replace-checkbox" data-setting="menu_text_font_weight" data-cv="bold" data-ucv="normal">
                      <label class="bold">Bold</label>
                      <input type="checkbox" <%= @site.tmp_menu_text_font_weight == 'bold' ? 'checked=checked' : '' %>/>
                      <%= f.hidden_field :tmp_menu_text_font_weight, :value => @site.tmp_menu_text_font_weight %>
                    </span>
                    <span class="replace-checkbox" data-setting="menu_text_font_style" data-cv="italic" data-ucv="normal">
                      <label class="italic">Italic</label>
                      <input type="checkbox" <%= @site.tmp_menu_text_font_style == 'italic' ? 'checked=checked' : '' %> />
                      <%= f.hidden_field :tmp_menu_text_font_style, :value => @site.tmp_menu_text_font_style %>
                    </span>
                  <% end %>
                  </div>
                </div>
                <div class="clear"></div>
            </div>
            <!--Тег говорит сам за себя-->
            <footer>
                <div class="buttons">
                  <div style="float:left;">
                    <%= render :partial => 'company_panel/sites/construct/commit_form' %>
                  </div>
                  <div style="float:left;">
                    <%= form_for @site, :url => company_panel_site_path(@site), :html => { :target => :minisite } do |f| %>
                      <% [:color, :hover_color, :font_family, :font_weight, :font_style].each do |attr| %>
                        <%= f.hidden_field "tmp_menu_text_#{attr}".to_sym, :value => nil %>
                        <%= f.hidden_field "menu_text_#{attr}".to_sym, :value => nil %>
                      <% end %>
                      <input type="submit" class="button" value="Сбросить" />
                    <% end %>
                  </div>
                  <div class="clear"></div>
                </div>
            </footer>
        </div>
