<div class="campaign">
  <div class="data-container">
      <div class="left">
           <a href="<%= campaign_path campaign %>"><img src="<%= campaign.main_photo.try(:url, :thumb) %>" alt="" /></a>
      </div>
      <div class="right">
          <!--Заголовочек-->
          <div class="ext-title">
              <a href="<%= campaign_path campaign %>"><%= campaign.name %></a>
              <p><%= l campaign.start_at, :format => '%d %B %Y' %> года</p>
              <div class="clear"></div>
          </div>
          <!--Заголовочек-->
          <div class="text">
            <%=raw campaign.description %>
          </div>
      </div>
      <div class="clear"></div>
  </div>
  <div class="footer">
      <div class="comments-count">
          <div class="l"></div>
          <div class="r"><a href="#" class="show-comments">Комментариев (<%= campaign.comments_count %>)</a></div>
          <div class="clear"></div>
      </div>
      <%= render :partial => 'minisite/shared/likes', :locals => { :entity => campaign } %>
  </div>
  <%= render :partial => 'minisite/comments/comments_block', :locals => { :entity => campaign, :comments => campaign.comments.last(Comment::LAST_COUNT), :visible => false } %>
</div>
