<% year = local_assigns[:year] || Time.now.year %>
<% month = local_assigns[:month] || Time.now.month %>
<% start = Time.new(year, month, 1) %>
<% finish = start.end_of_month %>
<% start -= ((diff = start.wday - 1) < 0 ? 6 : diff).days %>
<% finish += ((diff = 7 - finish.wday) == 7 ? 0 : diff).days %>

<div class="calendar <%= local_assigns[:hidden] ? 'hidden' : '' %>" data-month="<%= month %>">
    <table cellpadding="0" cellspacing="0">
      <% ((finish.to_date - start.to_date + 6) / 7).to_i.times do |w| %>
        <% week = start.to_date.cweek + w %>
        <tr data-week="<%= week %>" data-week_start="<%= (start + w.weeks).to_date.strftime('%d.%m.%Y') %>" data-week_finish="<%= (start + w.weeks + 6.days).to_date.strftime('%d.%m.%Y') %>" data-type="<%= type %>" <% if Banner.week_busy?(week, type) or (Time.new(Time.now.year, Time.now.month, Time.now.day) > (start + w.weeks))%>
        class=busy
        <% end%>
         >
          <% 7.times do |d| %>
            <td>
							<%= l start + w.weeks + d.days, :format => '%a, %d %B' %>
						</td>
          <% end %>
        </tr>
      <% end %>
    </table>
</div>
