<%= form_for @user, :url => update_password_company_panel_user_path(@user) do |f| %>
  <%= render_error_explanation @user %>
  <div class="form">
    <h1 class="title">Изменение пароля</h1>
    <div class="body-blue">
      <div class="row">
        <div class="label"><%= f.label :current_password, 'Текущий пароль' %></div>
        <div class="field"><%= f.password_field :current_password %></div>
        <div class="clear"></div>
      </div>
      <div class="frow">
        <div class="label"><%= f.label :new_password, 'Новый пароль' %></div>
        <div class="field"><%= f.password_field :new_password %></div>
        <div class="clear"></div>
      </div>
      <div class="frow">
        <div class="label"><%= f.label :password_confirmation, 'Повторите пароль' %></div>
        <div class="field"><%= f.password_field :password_confirmation %></div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="buts">
      <input type="submit" class="blue-button" value="Изменить" />
    </div>
  </div>
<% end %>
