			
				<!-- top panel -->
				<div class="simp-top-container">
					<div class="simp-top-left">
						<h1 class="page-title">Новости <span class="page-title-ext">(<%= News.count %>)</span></h1>
					</div>
					<div class="simp-top-right">
						<a href="#" class="news-rss"><%= image_tag("rss.png") %> RSS</a>
						<a href="#" class="other-but left-20">Подписаться на новости</a>
					</div>
					<div class="simp-top-cent page-size">
			              <ul class="count-page">
												<li>Новостей на странице:</li>
			                  <li><%= link_to "10", {:controller => "news", :action => "index", :count => 10}, :class => (params[:count] == '10' || !params[:count]) ? 'count-active' : '' %></li>
			                  <li><%= link_to "20", {:controller => "news", :action => "index", :count => 20}, :class => (params[:count] == '20') ? 'count-active' : '' %></li>
			                  <li><%= link_to "30", {:controller => "news", :action => "index", :count => 30}, :class => (params[:count] == '30') ? 'count-active' : '' %></li>
			              </ul>
					</div>
					<div class="clear"><!-----></div>
				</div>
				<!-- top panel -->
			  
				<section class="blue-nav">
					<ul>
						<% @categories.each do |category| %>
						   	<li><a href="<%= url_for(params.merge(:category => category.alias, :page => 1)) %>"><%= category.title %></a></li>
						<% end %>
					</ul>
				</section>

				<h3 class="simp-content-title">Последние добавленные новости</h3>

			  	<div class="simp-content-items">
						
				<% if @news.count > 0 %>
					<% @news.each do |news| %>
			  		<div class="simp-content-item">
			  			<a href="/news/<%= news.category.alias %>/<%= news.id %>" class="simp-item-image"><img src="<%= news.main_photo.try(:url) %>" /></a>
			  			<div class="simp-item-link">&nbsp;</div>
			  			<h2 class="simp-item-title"><a href="/news/<%= news.category.alias %>/<%= news.id %>"><%= news.title %></a></h2>
			  			<div class="simp-item-anonce">
			  				<%= raw news.anonce %>
			  			</div>
			  		</div>
					<% end %>
				<% else %>
					<div class="empty-content">Новостей нет</div>
				<% end %>
			  		
			  		<div class="clear"></div>
			  	</div>
					
					<%= will_paginate @news, :renderer => 'BootstrapPaginationHelper::LinkRenderer' %>
					
					<%= render :partial => 'shared/sharing' %>
			  