<div class="list">
  <ul class="tabs">
    <li><a href="<%= company_panel_subscribes_path %>" data-id="1">E-mail подписчики</a></li>
    <li><a href="#" data-id="2" class="active">E-mail рассылки</a></li>
  </ul>
  <div class="content">
    <div class="tab-content" data-id="2">
	  <div class="kegrid-wrap">
		<table class="kegrid style-silver" cellpadding="0" cellspacing="0">
		  <thead>
			  <tr>
				  <th>№</th>
				  <th>Подписчик</th>
				  <th>Дата отправки</th>
			  </tr>
		  </thead>
		  <tbody>
			<% @emails.each_with_index do |email, index| %>
			  <tr>
				  <td><%= ([params[:page].to_i, 1].max - 1) * @per_page + index + 1 %></td>
				  <td>
				  <% if user = User.find_by_email(email.to) %>
					<%= user.f_name %> <%= user.l_name %>
				  <% else %>
					<%= email.to %>
				  <% end %>
				  </td>
				  <td><%= I18n.l email.created_at, :format => '%d.%m.%Y' %></td>
			  </tr>
			<% end %>
		  </tbody>
		</table>
	  </div>

    <!-- Подвальчик -->
    <footer class="footer text-right">
			<%= render :partial => 'company_panel/shared/pagination', :locals => {:obj => @emails} %>
    </footer>
    </div>
    
  </div>
</div>
