
            <div class="other-tabs">
                <ul>
                    <li data-other-tab="1" class="tab-curent"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Условия</div></li>
                    <li data-other-tab="3"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Отзывы</div></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="other-content">
                
                <div class="tab-content" data-other-con="1" id="entity_description">
                    <!--div class="content-title">Описание</div-->
                    <div class="content-text">
                    	<% if @campaign.text %>
               				<%= @campaign.text %>
               			<% else %>
               				<p class="tab-content-empty">Условия отсутствует</p>
               			<% end %>
               		</div>
                </div>
                
                <div class="tab-content" data-other-con="3">
                	
                	<% if user_signed_in? %>
                    <div class="content-top-but fb-add">
                    	<a href="#">Добавить отзыв</a>
                    </div>
                    <% end %>
                    
                    <div class="content-text">
                    	
                    <% if @feedbacks.count > 0 %>
                    	<% @feedbacks.each do |feedback| %>
                    	<!-- отзыв -->
                        <div class="popup-fb <%= cycle("fb-even", "fb-odd") -%>">
                        	<div class="popup-fb-left"><div class="popup-fb-photo"><img src="<%= feedback.user.mini_photo.url %>" /></div></div>
                        	<div class="popup-fb-cont">
                        		<div class="popup-fb-cont-tit">
                        			<a href="#"><%= feedback.entity.name %></a>
                        			<% if feedback.contentment == 1 %>
                        				<span class="popup-fb-true">(Положительный)</span>
                        			<% else %>
                        				<span class="popup-fb-false">(Отрицательный)</span>
                        			<% end %>
                        		</div>
                        		<div class="popup-fb-cont-text">
                        			
                        			<div class="popup-texts">
	                  					<div class="popup-text-mini">
	                  						<p><%= truncate feedback.comment, :length => 100 %> &nbsp;<a href="#" class="view-full-text">Читать отзыв</a></p>
	                  					</div>
	                  					<div class="popup-text-full">
	                  						
	                  						<p><b>Достоинства: </b><%= feedback.plus %></p>
	                  						<p><b>Недостатки: </b><%= feedback.minus %></p>
	                  						<p><b>Отзыв: </b><%= feedback.comment %></p>
	                  						
	                  						<p><a href="#" class="view-full-text">Скрыть</a></p>
	                  					</div>
                  					</div>
                        			
                        		</div>
                        		<div class="popup-fb-cont-info">
                        			<div class="fb-cont-info-left"><a href="/cabinet/<%= feedback.user_id %>"><%= feedback.user.f_name %> <%= feedback.user.l_name %></a> - <%= feedback.created_at.strftime("%d.%m.%Y %H:%M") %></div>
                        			<div class="fb-cont-info-right popup-stat-fb">
		         					<% if user_signed_in? %>
						            	<div class="favorite-active">
						                	<a href="#" data-like="Feedback:<%= feedback.id %>" class="like"><%= image_tag "reviews-2.png" %></a><span>(<small class="like-count"><%= feedback.likes.count %></small>)</span>
						            	</div>
										<div class="favorite-notactive">
										 	<%= image_tag "loading-mini.gif" %>
										</div>
		                            <% else %>
		                            	<%= image_tag "no-reviews-2.png" %><span>(<%= feedback.likes.count %>)</span>
		                            <% end %>
                        			</div>
                        			<div class="clear"></div>
                        		</div>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <!-- end | отзыв -->
                        <% end %>
                    <% else %>
                    	<p class="tab-content-empty">Отзывы отсутствуют</p>
                    <% end %>
                        
                    	<!-- отзыв --
                        <div class="popup-fb fb-even">
                        	<div class="popup-fb-left"><div class="popup-fb-photo"><img src="/assets/temp/ava-1.png" /></div></div>
                        	<div class="popup-fb-cont">
                        		<div class="popup-fb-cont-tit"><a href="#">Samsung galaxy s3</a><span class="popup-fb-true">(Положительный)</span></div>
                        		<div class="popup-fb-cont-text">
                        			В телефоне меня прельстило то, что за приемлемую цену можно было купить сенсорный сотик с двумя симками и усиленной батареей. Да, телеф...Читать отзыв
                        		</div>
                        		<div class="popup-fb-cont-info">
                        			<div class="fb-cont-info-left">Иван Иванов - 30 июня 2012</div>
                        			<div class="fb-cont-info-right popup-stat-fb"><%= image_tag "reviews-2.png" %><span>(255)</span></div>
                        			<div class="clear"></div>
                        		</div>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        
                        <div class="popup-fb fb-odd">
                        	<div class="popup-fb-left"><div class="popup-fb-photo"><img src="/assets/temp/ava-1.png" /></div></div>
                        	<div class="popup-fb-cont">
                        		<div class="popup-fb-cont-tit"><a href="#">Samsung galaxy s3</a><span class="popup-fb-true">(Положительный)</span></div>
                        		<div class="popup-fb-cont-text">
                        			В телефоне меня прельстило то, что за приемлемую цену можно было купить сенсорный сотик с двумя симками и усиленной батареей. Да, телеф...Читать отзыв
                        		</div>
                        		<div class="popup-fb-cont-info">
                        			<div class="fb-cont-info-left">Иван Иванов - 30 июня 2012</div>
                        			<div class="fb-cont-info-right popup-stat-fb"><%= image_tag "reviews-2.png" %><span>(255)</span></div>
                        			<div class="clear"></div>
                        		</div>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        -- end | отзыв -->
                        
                    </div>
                </div>
                
            </div>
        