
            <div class="other-tabs">
                <ul>
                    <li style="margin-left: -10px" data-other-tab="1" class="tab-curent"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Описание</div></li>
                    <li data-other-tab="2"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Характеристики</div></li>
                    <li data-other-tab="3"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Отзывы</div></li>
                    <li data-other-tab="4"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Акции</div></li>
                    <li data-other-tab="5"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Доставка</div></li>
                    <li data-other-tab="6"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Гарантия</div></li>
                    <li data-other-tab="7"><div class="tab-wave"></div><div class="tab-shadow"></div><div class="tab-cont">Кредитование</div></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="other-content">
                
                <div class="tab-content" data-other-con="1" id="entity_description">
                    <!--div class="content-title">Описание</div-->
                    <div class="content-text">
                    	<% if @good.description %>
               				<%= raw @good.description %>
               			<% else %>
               				<p class="tab-content-empty">Описание отсутствует</p>
               			<% end %>
               		</div>
                </div>
                <div class="tab-content" data-other-con="2" id="entity_characteristics">
                    <!---div class="content-title">Характеристики</div-->
                    <div class="content-text">
                    	<% if @good.characteristics.count > 0 %>
                    		<table class="stripy-table">
                    		<% @good.characteristics.each do |character| %>
                    			<tr><td><%= character.key %></td><td><%= character.value %></td></tr>
                    		<% end %>
                    		</table>
                    	<% else %>
               				<p class="tab-content-empty">Характеристики отсутствуют</p>
               			<% end %>
                    </div>
                </div>
                <div class="tab-content" data-other-con="3">
                	
                	<% if user_signed_in? %>
                    <div class="content-top-but fb-add">
                    	<a href="#">Добавить отзыв</a>
                    </div>
                    <% end %>
                    
                    <div class="content-text">
                    	
                    <% if @feedbacks.count > 0 %>
                    	<% @feedbacks.each do |feedback| %>
                    	<!-- отзыв -->
                        <div class="popup-fb <%= cycle("fb-even", "fb-odd") -%>">
                        	<div class="popup-fb-left"><div class="popup-fb-photo"><img src="<%= feedback.user.mini_photo.url %>" /></div></div>
                        	<div class="popup-fb-cont">
                        		<div class="popup-fb-cont-tit">
                        			<a href="#"><%= feedback.entity.title %></a>
                        			<% if feedback.contentment == 1 %>
                        				<span class="popup-fb-true">(Положительный)</span>
                        			<% else %>
                        				<span class="popup-fb-false">(Отрицательный)</span>
                        			<% end %>
                        		</div>
                        		<div class="popup-fb-cont-text">
                        			
                        			<div class="popup-texts">
	                  					<div class="popup-text-mini">
	                  						<p><%= truncate feedback.comment, :length => 100 %> &nbsp;<a href="#" class="view-full-text">Читать отзыв</a></p>
	                  					</div>
	                  					<div class="popup-text-full">
	                  						
	                  						<p><b>Достоинства: </b><%= feedback.plus %></p>
	                  						<p><b>Недостатки: </b><%= feedback.minus %></p>
	                  						<p><b>Отзыв: </b><%= feedback.comment %></p>
	                  						
	                  						<p><a href="#" class="view-full-text">Скрыть</a></p>
	                  					</div>
                  					</div>
                        			
                        		</div>
                        		<div class="popup-fb-cont-info">
                        			<div class="fb-cont-info-left"><%= feedback.user.f_name %> <%= feedback.user.l_name %> - <%= feedback.created_at.strftime("%d.%m.%Y %H:%M") %></div>
                        			<div class="fb-cont-info-right popup-stat-fb">
                        				
		         					<% if user_signed_in? %>
						            	<div class="favorite-active">
						                	<a href="#" data-like="Feedback:<%= feedback.id %>" class="like"><%= image_tag "reviews-2.png" %></a><span>(<small class="like-count"><%= feedback.likes.count %></small>)</span>
						            	</div>
										<div class="favorite-notactive">
										 	<%= image_tag "loading-mini.gif" %>
										</div>
		                            <% else %>
		                            	<%= image_tag "no-reviews-2.png" %><span>(<%= feedback.likes.count %>)</span>
		                            <% end %>
                        				
                        			</div>
                        			<div class="clear"></div>
                        		</div>
                        	</div>
                        	<div class="clear"></div>
                        </div>
                        <!-- end | отзыв -->
                        <% end %>
                    <% else %>
                    	<p class="tab-content-empty">Отзывы отсутствуют</p>
                    <% end %>
                        
                    </div>
                </div>
                <div class="tab-content" data-other-con="4">
                    <!---div class="content-title">Акции</div--->
                    <div class="content-text">
                    	
                    	<% if @good.campaign != nil %>
                  		<div class="popup-campaign">
                  			<div class="popup-camp-container">
	                  			<div class="popup-camp-left">
	                  				<img src="<%= @good.campaign.company.logotype.url %>" />
	                  			</div>
	                  			<div class="popup-camp-right">
	                  				<div class="popup-camp-title">
	                  					<%= @good.campaign.name %>
	                  				</div>
	                  				<div class="popup-camp-text">
	                  					
	                  					<% if @good.campaign.text.length > 50 %>
	                  					<div class="popup-texts">
		                  					<p class="popup-text-mini">
		                  						<%= truncate @good.campaign.text, :length => 50 %> <a href="#" class="view-full-text">Читать дальше</a>
		                  					</p>
		                  					<p class="popup-text-full">
		                  						<%= @good.campaign.text %>
		                  						<a href="#" class="view-full-text">Скрыть</a>
		                  					</p>
	                  					</div>
	                  					<% else %>
	                  						<%= @good.campaign.text %>
	                  					<% end %>
	                  					
	                  				</div>
	                  			</div>
	                  			<div class="clear"></div>
                  			</div>
                  			<div class="popup-camp-info">
                  				<div class="popup-camp-comments">
									<div class="info-bell-left"><!--для фона--></div>
									<div class="info-bell-right">
										<p>Коментариев (100)</p>
									</div>
                  				</div>
                  				<div class="popup-camp-lives">
                  					<% if user_signed_in? %>
			                          <!-- Добавление в избранное -->
			                          <div class="item-info-block-stat likes">
										<div class="favorite-active">
											<a href="#" data-favorite="Campaign:<%= @good.campaign.id %>:1" class="favorite <%= @good.favorited_by_user?(current_user) ? 'actived' : '' %>"></a>
											<a href="#" data-favorite="Campaign:<%= @good.campaign.id %>:0" class="ignore"></a>
											<a href="#" data-like="Campaign:<%= @good.campaign.id %>" class="like"></a><span>(<small class="like-count"></small>)</span>
										</div>
										<div class="favorite-notactive">
										 	<%= image_tag "loading-mini.gif" %>
										</div>
			                          </div>
			                          <% else %>
			                          <div class="item-info-block-stat">
			                              <%= image_tag "no-reviews-1.png" %>
			                              <%= image_tag "no-reviews-0.png" %>
			                              <%= image_tag "no-reviews-2.png" %><span>(255)</span>
			                          </div>
		                          	<% end %>
                  				</div>
                  				<div class="clear"></div>
                  			</div>
                  		</div>
                  		<% else %>
                  			<p class="tab-content-empty">Акция отсутствует</p>
                  		<% end %>
                  		
                    </div>
                </div>
                <div class="tab-content" data-other-con="5">
                    <!---div class="content-title">Доставка</div--->
                    <div class="content-text">
                    	
                    <% if @good.company.delivety %>
					<article class="popup-item">
					<h2 class="popup-tab-title">Доставка организации</h2>	
                        <div class="item-container-4">
                            <div class="popup-item-image"><a href="#"><img src="<%= @good.company.logotype.url %>" alt="" /></a></div>
                            <div class="item-info">
                                <div class="item-info-block">
                                    <p><%= @good.company.address %></p>
                                    <p><%= @good.company.phone %></p>
                                    <div class="item-info-block-bell">
                                        <a href="#"><img src="/assets/bell.png" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-item-text">
                                <h2 class="popup-item-title"><a href="#"><%= @good.company.name %></a></h2>
                                <p>Стоимость доставки: <span class="orange"><%= @good.company.delivety.cost == 0 ? 'Бесплатная' : @good.company.delivety.cost.to_s + ' руб.' %></span></p>
                                <p>График работы: <%= @good.company.delivety.graph %></p>
                                <p>Доставка осуществляется <%= @good.company.delivety.period %></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <% end %>
                    
                    <% if @default_delivery && @default_delivery.delivety %>
                    <article class="popup-item">
					<h2 class="popup-tab-title">Альтернативная доставка</h2>
                        <div class="item-container-4">
                            <div class="popup-item-image"><a href="#"><img src="<%= @default_delivery.logotype.url %>" alt="" /></a></div>
                            <div class="item-info">
                                <div class="item-info-block">
                                    <p><%= @default_delivery.address %></p>
                                    <p><%= @default_delivery.phone %></p>
                                    <div class="item-info-block-bell">
                                        <a href="#"><img src="/assets/bell.png" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="popup-item-text">
                                <h2 class="popup-item-title"><a href="#"><%= @default_delivery.name %></a></h2>
                                <p>Стоимость доставки: <span class="orange"><%= @default_delivery.delivety.cost == 0 ? 'Бесплатная' : @default_delivery.delivety.cost.to_s + ' руб.' %></span></p>
                                <p>График работы: <%= @default_delivery.delivety.graph %></p>
                                <p>Доставка осуществляется <%= @default_delivery.delivety.period %></p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </article>
                    <% end %>
                        
                    </div>
                </div>
                
                <div class="tab-content" data-other-con="6" id="entity_description">
                    <!--div class="content-title">Описание</div-->
                    <div class="content-text">
                    	<% if @good.warranty_time %>
               				<p><span class="popup-sub-title">Срок гарантии:</span> <span class="orange"><%= @good.warranty_time %></span></p>
               				<p><span class="popup-sub-title">Условия гарантии:</span></p>
               				<p><%= raw @good.warranty_condition %></p>
               			<% else %>
               				<p class="tab-content-empty">Гарантия отсутствует</p>
               			<% end %>
               		</div>
                </div>
                
                <div class="tab-content" data-other-con="7" id="entity_description">
                    <!--div class="content-title">Описание</div-->
                    <div class="content-text">
               			
						<% if @good.company.crediting != '' %>
						<article class="popup-item">
						<h2 class="popup-tab-title">Кредитование интернет магазина</h2>	
	                        <div class="item-container-4">
	                            <div class="popup-item-image"><a href="#"><img src="<%= @good.company.logotype.url %>" alt="" /></a></div>
	                            <div class="item-info">
	                                <div class="item-info-block">
	                                    <p><%= @good.company.address %></p>
	                                    <p><%= @good.company.phone %></p>
	                                    <!--div class="item-info-block-bell">
	                                        <a href="#"><img src="/assets/bell.png" alt="" /></a>
	                                    </div--->
	                                </div>
	                            </div>
	                            <div class="popup-item-text">
	                                <table>
	                                	<tr><td width="70" valign="top">Условия</td><td><%= truncate raw(@good.company.crediting), :length => 140 %> <a href="#" class="link-blue">Читать дальше</a></td></tr>
	                                </table>
	                            </div>
	                            <div class="clear"></div>
	                        </div>
	                    </article>
	                    <% end %>
	                    
	                    <% if @good.company.banks.count > 0 %>
	                    <article class="popup-item">
						<h2 class="popup-tab-title">Банки</h2>
						
							<% @good.company.banks.each do |bank| %>
	                        <div class="item-container-4">
	                            <div class="popup-item-image"><a href="#"><img src="<%= bank.logotype.url %>" alt="" /></a></div>
	                            <div class="item-info">
	                                <div class="item-info-block">
	                                    <p><%= bank.address %></p>
	                                    <p><%= bank.phone %></p>
	                                    <!--div class="item-info-block-bell">
	                                        <a href="#"><img src="/assets/bell.png" alt="" /></a>
	                                    </div--->
	                                </div>
	                            </div>
	                            <div class="popup-item-text">
	                                <table>
	                                	<tr><td width="70" valign="top">Условия</td><td><%= truncate raw(bank.condition), :length => 140 %> <a href="#" class="link-blue">Читать дальше</a></td></tr>
	                                </table>
	                            </div>
	                            <div class="clear"></div>
	                        </div>
	                        <% end %>
	                        
	                        <!---div class="item-container-4">
	                            <div class="popup-item-image"><a href="#"><img src="/assets/temp/logo.png" alt="" /></a></div>
	                            <div class="item-info">
	                                <div class="item-info-block">
	                                    <p>Адрес банка</p>
	                                    <p>Телефон банка</p>
	                                    <!--div class="item-info-block-bell">
	                                        <a href="#"><img src="/assets/bell.png" alt="" /></a>
	                                    </div---
	                                </div>
	                            </div>
	                            <div class="popup-item-text">
	                                Услови: условия условия условия условия условия
	                            </div>
	                            <div class="clear"></div>
	                        </div--->
	                    </article>
	                    <% end %>
                    	
               			<% if @good.company.crediting == '' && @good.company.banks == nil %>
               				<p class="tab-content-empty">Кредитование отсутствует</p>
               			<% end %>
               		</div>
                </div>
                
            </div>
        