				<div class="popup-images">
                    <div class="popup-image">
                    	<ul class=" lightbox">
                    		<li><a href="<%= @job.image.url %>"><img src="<%= @job.image.url %>" alt="" /></a></li>
                    	</ul>
                    </div>
                    <ul class="lightbox">
                        
                        <% @job.images.each do |image| %>
                        	<li><a href="<%= image.url %>"><img src="<%= image.url %>" alt="" width="32" height="32" /></a></li>
                        <% end %>
                    </ul>
                </div>
								<div class="popup-name"><a href="/jobs/<%= @job.category.alias %>/<%= @job.id %>"><%= @job.name %></a></div>
                <div class="popup-map-wrap">
									<div class="popup-map">
											<div class="popup-map-title view-map-full" data-full-map="<%= @job.company.name %>::<%= @job.company.address %>">
												<div class="popup-map-title-tit">Показать во весь экран</div>
												<div class="popup-map-title-cont"></div>
											</div>
											<div class="popup-map-content" id="map"></div>
									</div>
									<h3 class="popup-address"><p><%= @job.company.address %></p></h3>
								</div>
                <div class="popup-info">
                    <p class="popup-name"><a href="/jobs/<%= @job.category.alias %>/<%= @job.id %>"><%= @job.name %></a></p>
                    <p class="popup-price">Зарплата от: <span><span id="good_price"><%= @job.salary_from %></span> р.</span> до: <span><span id="good_price"><%= @job.salary_to %></span> р.</span></p>
                    <h2 class="popup-company"><p><a href="#"><%= @job.company.name %></a></p></h2>
                    <h3 class="popup-address popup-price"><p><%= @job.company.address %></p></h3>
                    <p class="popup-phone">Тел.: <span><%= @job.company.phone %></span></p>
                    <div><a href="#"><img src="/assets/bell.png" alt="" /></a></div>
                    <div>Отзывы: <span class="bell-true">+40</span> / <span class="bell-false">-2</span></div>
                    <% if user_signed_in? %>
                    <div class="popup-stat">
						<div class="favorite-active">
							<a href="#" data-favorite="Job:<%= @job.id %>:1" class="favorite"><%= image_tag "reviews-1.png" %></a>
							<a href="#" data-favorite="Job:<%= @job.id %>:0" class="favorite"><%= image_tag "reviews-0.png" %></a>
							<a href="#" data-like="Job:<%= @job.id %>" class="like"><%= image_tag "reviews-2.png" %></a><span>(<small class="like-count"><%= @job.likes.count %></small>)</span>
						</div>
						<div class="favorite-notactive">
							<%= image_tag "loading-mini.gif" %>
						</div>
                    </div>
                    <% else %>
                    <div class="popup-stat">
                          <%= image_tag "no-reviews-1.png" %>
                          <%= image_tag "no-reviews-0.png" %>
                          <%= image_tag "no-reviews-2.png" %><span>(255)</span>
                    </div>
                    <% end %>
                </div>