
    <!-- заголовочный блок -->
    <section class="main-title">
        <div class="main-title-title">
            <h1 class="page-title" id="currentCategory" data-value="<%= (@category) ? @category.alias : 0 %>"><%= (@category) ? @category.title : 'Акции' %> <span class="page-title-ext">(<%= (@category) ? Category.get_count_entity(@curent_controller, @category.id) : Campaign.count %>)</h1>
        </div>
        <div class="main-title-categories">
          	<% if @category && @category.children != nil %>
          	<% @category.children.each do |subcat| %>
              <a href="#"><%= subcat.title %></a>,
            <% end %>
            <% end %>
        </div>
        <div class="clear"></div>
    </section>
    <!-- end | заголовочный блок -->
		
		
		<!-- Фильтры -->
		<div class="filters">
				<!--Левый блок-->
				<div class="left">
						<div class="row">
								<div class="cell left">Сортировать по</div>
								<div class="cell right">
								<select name="sort" id="sort" style="width:100px;">
	              	<option value="empty">Выбрать</option>
		              <option <%= (params[:sort] == "views" && params[:order] == "DESC") ? 'selected' : '' %> value="<%= url_for params.merge(:sort => "views", :order => 'DESC') %>">Популярности (по убыванию)</option>
		              <option <%= (params[:sort] == "views" && params[:order] == "ASC") ? 'selected' : '' %> value="<%= url_for params.merge(:sort => "views", :order => 'ASC') %>">Популярности (по возрастанию)</option>
		              <option <%= (params[:sort] == "created_at" && params[:order] == "DESC") ? 'selected' : '' %> value="<%= url_for params.merge(:sort => "created_at", :order => 'DESC') %>">Дате (по убыванию)</option>
		              <option <%= (params[:sort] == "created_at" && params[:order] == "ASC") ? 'selected' : '' %> value="<%= url_for params.merge(:sort => "created_at", :order => 'ASC') %>">Дате (по возрастанию)</option>
	              </select>
								</div>
								<div class="clear"></div>
						</div>
				</div>
				<!--Центральный блок-->
				<div class="center">
						<div class="row">
								
						</div>
				</div>
				<!--Правый блок-->
				<div class="right">
						<div class="row">
								<ul class="count-page">
										<li>Показать:</li>
										<li><%= link_to "10", {:controller => "campaigns", :action => "index", :count => 10}, :class => (params[:count] == '10' || !params[:count]) ? 'count-active' : '' %></li>
	                  <li><%= link_to "20", {:controller => "campaigns", :action => "index", :count => 20}, :class => (params[:count] == '20') ? 'count-active' : '' %></li>
	                  <li><%= link_to "30", {:controller => "campaigns", :action => "index", :count => 30}, :class => (params[:count] == '30') ? 'count-active' : '' %></li>
								</ul>
						</div>
				</div>
		<div class="clear"></div>
		</div>
		
		<div class="found-res text-center" style="display: none;">
			<span class="found-res-btn">
				Показать 100 результатов
			</span>
		</div>
		
		<!-- Блок с подписаться и управлением колличеством элементов -->
		<div class="sub-filters">
				<div class="left">
					<%= render :partial => 'shared/subscribe' %>
				</div>
				<div class="right">
						<!-- Чтонить сюда можно воткнуть -->
				</div>
				<div class="clear"></div>
		</div>
		<!-- end | Фильтры -->


    <section class="content-items">
        <div class="stock-title">
            <h2 class="st-caption">Последние добавленные акции</h2> <img src="/assets/stock-hr.png" alt="" />
        </div>

		<% if @campaigns.count > 0 %>
			<% @campaigns.each do |campaign| %>
					<article class="content-item" data-item-type="Campaign" data-item-id="<%= campaign.id %>">
							<div class="item-container-1">
									<div class="item-image"><a href="#" data-item-id="<%= campaign.id %>"><%= image_tag(campaign.company.logotype) %></a></div>
									<div class="item-info">
											<div class="item-info-block">
													<h3 class="info-block-title"><a href="#"><%= campaign.company.name %></a></h3>
													<p class="info-block-adress"><%= campaign.company.address %></p>
													<p class="info-block-phone" title="<%= campaign.company.phone %>">Тел.:&nbsp;<%= campaign.company.phone %></p>
													<p><a href="#" class="view-map-full" data-full-map="<%= campaign.company.name %>::<%= campaign.company.address %>">Посмотреть на карте</a></p>
													
														<% if user_signed_in? %>
														<div class="item-info-block-stat likes">
															<div class="favorite-active">
															<!-- add class 'actived' to link if success -->
									<a href="#" data-favorite="Campaign:<%= campaign.id %>:1" class="favorite <%= campaign.favorited_by_user?(current_user) ? 'actived' : '' %>"></a>
									<a href="#" data-favorite="Campaign:<%= campaign.id %>:0" class="ignore"></a>
									<a href="#" data-like="Campaign:<%= campaign.id %>" class="like"></a><span>(<small class="like-count"><%= campaign.likes.count %></small>)</span>
								</div>
								<div class="favorite-notactive">
									<%= image_tag "loading-mini.gif" %>
								</div>
														</div>
														<div class="item-info-block-bell">
																<a href="#"><%= image_tag "bell.png" %></a>
														</div>
														<% else %>
														<div class="item-info-block-stat">
																<%= image_tag "no-reviews-1.png" %>
																<%= image_tag "no-reviews-0.png" %>
																<%= image_tag "no-reviews-2.png" %><span>(<%= campaign.likes.count %>)</span>
														</div>
														<div class="item-info-block-bell">
																<%= image_tag "no-bell.png" %>
														</div>
														<% end %>
													
											</div>
									</div>
									<div class="item-text" data-item-id="<%= campaign.id %>">
											<h2 class="item-title"><a href="#" data-item-id="<%= campaign.id %>"><%= campaign.name %></a></h2>
											<p><%= raw truncate campaign.description, :length => 160 %></p>
									</div>
									<div class="clear"></div>
									<div class="item-other"><!---
											<div class="item-control">
													<div class="control-edit"><a href="#">Редактировать</a></div>
													<div class="control-delete"><a href="#">Удалить</a></div>
											</div>--->
											<div class="item-bell">
													<div class="info-bell-left"><!--для фона--></div>
													<div class="info-bell-right">
															<p>Отзывы: <span class="bell-true">+<%= Feedback.get_p_count('Campaign', campaign.id) %></span> / <span class="bell-false">-<%= Feedback.get_n_count('Campaign', campaign.id) %></span></p>
													</div>
											</div>
									</div>
	
							</div>
					</article>
			<% end %>
			
			<div class="pagination-separator" style="display:none;"><div class="ps-page">Страница <span class="ps-page-num" data-page="1">1</span></div></div>
			<a href="#" class="pagination-link">
				Показать еще <%=  params[:count] || 10%>
			</a>	
			
			</section>
    <% else %>
    	<div class="empty-content">Акций и скидок нет</div>
    <% end %>
    
    
    <div class="popup-slider">
        <div class="popup-main">
            <div class="popup-close"><a href="#" class="button-close"></a></div>
            <!-- Главный блок с инфой -->
            <div class="popup-content" id="popupHeader">
                <!--- HEAD --->
            </div>
            <!-- end | Главный блок с инфой -->
        </div>
        
        <!--блок с кнопками-->
        <div class="popup-buts">
            <div class="popup-but-prev" id="popupPrev"></div>
            <div class="popup-but-next" id="popupNext"></div>
            <div class="popup-but-cent">
            	<div id="popup_loading"><%= image_tag "loading-2.gif" %></div>
            	<div id="popup_notic"></div>
            </div>
        </div>
        
        <div class="feedback-add" id="feedbackForm">
        	<!--- FEEDBACK --->
        </div>
        <!--end | блок с кнопками-->
        
        <div class="popup-other">
        	<div id="popupContent">
        	<!--- CONTENT --->
        	</div>
        </div>
    </div>
    
    <div id="mask"></div>
    
    <div class="map-full">
    	<div class="map-full-title">
    		<div class="map-full-left" id="map_full_title">Планета</div>
    		<div class="map-full-right"><a href="#" id="map_full_close"></a></div>
    		<div class="clear"></div>
    	</div>
    	<div class="map-full-content" id="map_full"></div>
    </div>
		
		<%= render :partial => 'shared/sharing' %>
