<div class="job-item">
    <div class="ext-title">
        <a href="<%= job_path job %>"><%= job.name %></a>
        <p><%= l job.created_at, :format => '%d %B %Y' %> года</p>
        <p class="salary">от <%= job.salary_from %> руб.</p>
        <div class="clear"></div>
    </div>
    <div class="annonce">
      <%=raw job.description %>
    </div>
</div>
