<footer id="last_footer">
  <div id="info_footer">
    <div class="info-head">
      <div class="info-head-auto">
        <div class="info-row">Полезная информация</div>
        <div class="info-row">Организациям</div>
        <div class="info-row">О нас</div>
        <div class="info-row">Мы в социальных сетях</div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="info-body">
      <div class="info-head-auto">
        <div class="info-col">
          <p><a href="/pages/<%= @this_pages[0].id %>"><%= @this_pages[0].title %></a></p>
          <p><a href="/pages/<%= @this_pages[1].id %>"><%= @this_pages[1].title %></a></p>
          <p><a href="/pages/<%= @this_pages[2].id %>"><%= @this_pages[2].title %></a></p>
        </div>
        <div class="info-col">
          <p><a href="/pages/<%= @this_pages[3].id %>"><%= @this_pages[3].title %></a></p>
          <p><a href="/pages/<%= @this_pages[4].id %>"><%= @this_pages[4].title %></a></p>
          <p><a href="#">Добавить компанию</a></p>
          <p><a href="#">Добавить товар</a></p>
          <p><a href="#">Заказать рекламу</a></p>
        </div>
        <div class="info-col">
          <p><a href="/pages/<%= @this_pages[5].id %>"><%= @this_pages[5].title %></a></p>
          <p><a href="/pages/<%= @this_pages[6].id %>"><%= @this_pages[6].title %></a></p>
          <p><a href="/pages/<%= @this_pages[7].id %>"><%= @this_pages[7].title %></a></p>
        </div>
        <div class="info-col">
          <p><a href="#"><img src="/assets/social/twitter.png" />Twitter</a></p>
          <p><a href="#"><img src="/assets/social/vk.png" />Вконтакте</a></p>
          <p><a href="#"><img src="/assets/social/facebook.png" />Facebook</a></p>
			<!--LiveInternet counter--><script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' "+
			"target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
			escape(document.referrer)+((typeof(screen)=="undefined")?"":
			";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
			screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
			";"+Math.random()+
			"' alt='' title='LiveInternet' "+
			"border='0' width='31' height='31'><\/a>")
			//--></script><!--/LiveInternet-->
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="copy">
    	<%= copyright %>
    </div>
  </div>
  
</footer>

