<!DOCTYPE html>
<html>
<head>
	<title>На обзоре</title>
  
	<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  
	<link rel="stylesheet" href="/assets/main.css" />
	<link rel="stylesheet" href="/assets/login.css" />
    <link rel="stylesheet" href="/assets/lightbox.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/assets/selectbox.css" />
    <link rel="stylesheet" href="/assets/jquery.jscrollpane.css" />
    
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/lightbox.js"></script>
    
    <script type="text/javascript" src="/assets/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/assets/jquery.jscrollpane.js"></script>
    
    <script type="text/javascript" src="/assets/jcarousel.js"></script>
    <script type="text/javascript" src="/assets/jselectbox.js"></script>
    <script type="text/javascript" src="/assets/kepCarousel.js"></script>
		<script type="text/javascript" src="/assets/ui-slider.js"></script>
		<script type="text/javascript" src="/assets/old_browser_check.js"></script>
    <script type="text/javascript" src="/assets/common.js"></script>
  
    <!---link rel="stylesheet" href="/assets/jquery.jscrollpane.css" /---->
    
	<!---%= stylesheet_link_tag    "application", :media => "all" %--->
	<!---%= javascript_include_tag "application" %--->
	
	<%= csrf_meta_tags %>

    <!--[if lt IE 9]>
    <script>
        document.createElement('nav');
        document.createElement('header');
        document.createElement('footer');
        document.createElement('section');
        document.createElement('aside');
        document.createElement('article');
    </script>
    <![endif]-->
  
</head>
<body data-controller="<%= @curent_controller %>">
    
    <section id="container">

        <%= render "layouts/header" %>
    
        <div id="simp_container_ext">
			
			<div class="big-shadow"></div>
			
			<div class="simp-breadcrumbs">
                <% if @breadcrumbs.length > 0 %>
                    <div class="breadcrumbs">
                        <a href="/">НаОбзоре</a>
                		<% @breadcrumbs.each do |el| %>
	                        <span class="breadcrumbs-separator">»</span>
	                        <a href="/<%= el[:url] %>"><%= el[:title] %></a>
            			<% end %>
            			<% if @category %>
	                        <span class="breadcrumbs-separator">»</span>
	                        <span><%= @category.title %></span>
            			<% end %>
                    </div>
                <% else %>
                На сайте присутствует <%= Company.count %> компаний, <%= Good.count %> товаров, города Оренбурга и области.
            	<% end %>
			</div>
			
			<%= yield %>
			
			<div class="clear"></div>
        </div>
        
	    <div class="clear"></div>
	    
	    <!-- Подвал -->
	    <%= render "layouts/footer" %>
	    <!-- / Подвал -->
    </section>
    


    <!-- Форма востановления пароля -->
    <%= render "layouts/recovery_password" %>
    <!-- / Форма востановления пароля -->


</body>
</html>
